In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 

from numpy.random import randn

from pandas import DataFrame, Series

from bb_binary import Repository, convert_frame_to_numpy, load_frame_container

In [65]:
df = DataFrame(np.arange(25).reshape(5,5), index=list('ABCDE'), columns=list("abcde"))
df.ix[0,0] = 100
df.ix[1,0] = 100
df.ix[2,0] = 20
df.ix[3,0] = 20
df

     a   b   c   d   e
A  100   1   2   3   4
B  100   6   7   8   9
C   20  11  12  13  14
D   20  16  17  18  19
E   20  21  22  23  24

In [66]:
df = df.set_index(['a','b'])
df

         c   d   e
a   b
100 1    2   3   4
    6    7   8   9
20  11  12  13  14
    16  17  18  19
    21  22  23  24

In [79]:
len(df.index.levels[1])

5

In [103]:
bits = np.array([0,1,2,5,128,255])
bits = bits/255
np.min(np.abs(0.5 - bits))

array([ 0.        ,  0.00392157,  0.00784314,  0.01960784,  0.50196078,  1.        ])

0.0019607843137254832

In [108]:
bits = np.array([0,1,2,5,127, 128,255])
bits = bits/255
bits

#binary_id = [if (i< 0.5): 0,1 for i in bits]

array([ 0.        ,  0.00392157,  0.00784314,  0.01960784,  0.49803922,
        0.50196078,  1.        ])

In [113]:
binary_id = [int(x > 0.5) for x in bits]

In [114]:
binary_id

[0, 0, 0, 0, 0, 1, 1]