In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [5]:
arr1 = np.arange(9).reshape((3,3))

In [6]:
arr1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [10]:
np.concatenate([arr1,arr1], axis =0)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8],
       [0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [11]:
ser1 = Series([0,1,2], index = list("TUV"))
ser2 = Series([3,4], index = ["X", "Y"])

In [12]:
ser1

T    0
U    1
V    2
dtype: int64

In [14]:
ser2

X    3
Y    4
dtype: int64

In [16]:
pd.concat([ser1,ser2], axis=1)

     0    1
T  0.0  NaN
U  1.0  NaN
V  2.0  NaN
X  NaN  3.0
Y  NaN  4.0

In [17]:
pd.concat([ser1,ser2], keys=['cat1','cat2'])

cat1  T    0
      U    1
      V    2
cat2  X    3
      Y    4
dtype: int64

In [19]:
dframe1 = DataFrame(np.random.randn(4,3),
                   columns=['X','Y','Z'])

dframe2 = DataFrame(np.random.randn(3,3),
                   columns=['Y','Q','X'])

In [20]:
dframe1

          X         Y         Z
0  0.850753  0.085338  0.455000
1 -1.492821 -0.518487  1.499360
2 -0.535111  0.790611 -0.379028
3 -0.523873  0.727276 -2.080710

In [21]:
dframe2

          Y         Q         X
0  0.309314 -0.947601  0.304539
1 -0.897123  2.173009  0.425604
2 -0.403078 -0.040724  1.020743

In [22]:
pd.concat([dframe1,dframe2])

          Q         X         Y         Z
0       NaN  0.850753  0.085338  0.455000
1       NaN -1.492821 -0.518487  1.499360
2       NaN -0.535111  0.790611 -0.379028
3       NaN -0.523873  0.727276 -2.080710
0 -0.947601  0.304539  0.309314       NaN
1  2.173009  0.425604 -0.897123       NaN
2 -0.040724  1.020743 -0.403078       NaN

In [23]:
pd.concat([dframe1,dframe2], ignore_index=True)

          Q         X         Y         Z
0       NaN  0.850753  0.085338  0.455000
1       NaN -1.492821 -0.518487  1.499360
2       NaN -0.535111  0.790611 -0.379028
3       NaN -0.523873  0.727276 -2.080710
4 -0.947601  0.304539  0.309314       NaN
5  2.173009  0.425604 -0.897123       NaN
6 -0.040724  1.020743 -0.403078       NaN