In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [5]:
dframe = DataFrame(np.arange(12).reshape(3,4),
                  index = ['NY','LA','SF'],
                  columns = list("ABCD"))

In [6]:
dframe

    A  B   C   D
NY  0  1   2   3
LA  4  5   6   7
SF  8  9  10  11

In [7]:
dframe.index.map(str.lower)

array(['ny', 'la', 'sf'], dtype=object)

In [8]:
dframe.index = dframe.index.map(str.lower)

In [9]:
dframe

    A  B   C   D
ny  0  1   2   3
la  4  5   6   7
sf  8  9  10  11

In [12]:
dframe.rename(index=str.upper, columns=str.lower)

    a  b   c   d
NY  0  1   2   3
LA  4  5   6   7
SF  8  9  10  11

In [16]:
dframe.rename(index={'ny': 'NEW YORK'}, inplace=True)

In [17]:
dframe

          A  B   C   D
NEW YORK  0  1   2   3
la        4  5   6   7
sf        8  9  10  11

# Binning

In [33]:
years = [1990, 1991, 1992, 2008, 2012, 2015,
         1987, 1969, 2013, 2008, 1999]

In [34]:
years

[1990, 1991, 1992, 2008, 2012, 2015, 1987, 1969, 2013, 2008, 1999]

In [35]:
decade_bins = [1960, 1970, 1980, 1990, 2000,
               2010, 2020]

In [36]:
decade_bins

[1960, 1970, 1980, 1990, 2000, 2010, 2020]

In [37]:
decade_cat = pd.cut(years, decade_bins)

In [38]:
decade_cat

[(1980, 1990], (1990, 2000], (1990, 2000], (2000, 2010], (2010, 2020], ..., (1980, 1990], (1960, 1970], (2010, 2020], (2000, 2010], (1990, 2000]]
Length: 11
Categories (6, object): [(1960, 1970] < (1970, 1980] < (1980, 1990] < (1990, 2000] < (2000, 2010] < (2010, 2020]]

In [27]:
decade_cat.categories

Index(['(1960, 1970]', '(1970, 1980]', '(1980, 1990]', '(1990, 2000]',
       '(2000, 2010]', '(2010, 2020]'],
      dtype='object')

In [28]:
pd.cut?

In [32]:
pd.value_counts(decade_cat)

(2010, 2020]    3
(1990, 2000]    3
(2000, 2010]    2
(1980, 1990]    2
(1960, 1970]    1
(1970, 1980]    0
dtype: int64

In [30]:
decade_bins

[1960, 1970, 1980, 1990, 2000, 2010, 2020]

In [39]:
pd.cut(years,2,precision=1)

[(1969, 1992], (1969, 1992], (1969, 1992], (1992, 2015], (1992, 2015], ..., (1969, 1992], (1969, 1992], (1992, 2015], (1992, 2015], (1992, 2015]]
Length: 11
Categories (2, object): [(1969, 1992] < (1992, 2015]]